<button mat-icon-button color="primary" 
    (click)="matSidenavService.toogle()"
    [@toggleSideNavButton]="matSidenavService.state ? 'open' : 'close'"
    [ngClass]="{
        showLeftIcon: matSidenavService.state,
        showRightIcon: !matSidenavService.state,
        sidebarCollapseBtn: true
    }">
    <mat-icon *ngIf="matSidenavService.state">arrow_left</mat-icon>
    <mat-icon *ngIf="!matSidenavService.state">arrow_right</mat-icon>
</button>

<mat-sidenav-container class="sidenav-container" style="z-index:auto;" hasBackdrop="false">
    
    <mat-sidenav 
        #leftSidenav 
        fixedTopGap="65"
        [opened]="true"
        class="fixedSidenav">
        
        <app-side-nav></app-side-nav>

    </mat-sidenav>
    
    <mat-sidenav-content 
        [@toggleSideNavContent]="matSidenavService.state ? 'open' : 'close'"
        style="z-index:auto; overflow: hidden; margin-left: 240px;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>