<nav class="navbar navbar-expand-lg navbar-light header fixed-top">
  
  <a class="navbar-brand" href="javascript:void(0)">
    <img src="assets/images/logo.png" class="logo-image" alt="Logo" />
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations/asia">Asia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations/europe">Europe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts/contact-us">Contact Us</a>
      </li>
    </ul>        
  </div>

  <button class="btn btn-light" type="button" title="Logout">
    <i class="fas fa-power-off text-primary"></i>
  </button>
  
</nav>