/* Maintain gap below the top navbar, to be used along with .container-fluid class */
.container-fluid-header-gap {
    padding-top: 65px;
  }
  ._required {
    position: relative;
    padding-left: 10px;
  }
  ._required::before {
    content: '* ';
    color: var(--error-medium);
    font-weight: 500;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  ._mandatory::after {
    content: ' *';
    color: var(--error-medium);
    font-weight: 500;
  }
  
  /* Button Styles */
  .mat-button,.mat-fab,.mat-flat-button,.mat-icon-button,.mat-mini-fab,.mat-raised-button,.mat-stroked-button {
    font-family: var(--mawani-font) !important;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    text-transform: uppercase;
    outline: none;
    line-height: var(--button-line-height);
  }
  .mat-button.disabled, .mat-button[disabled]{
    color: var(--disabled-high);
  }
  .mat-button.mat-primary{
    background-color: var(--white);
    color: var(--primary-color-100);
  }
  .mat-button.mat-primary:hover{
    background-color: var(--primary-color-20);
    color: var(--primary-color-100);
  }
  .mat-button.mat-primary.disabled, .mat-button.mat-primary[disabled]{
    background-color: var(--white);
    color: var(--disabled-high);
    pointer-events: none;
    cursor: auto;
  }
  .mat-button.mat-tertiary{
    background: transparent;
    color: var(--primary-color-100);
  }
  .mat-button.mat-tertiary:hover{
    background-color: var(--primary-color-20);
  }
  .mat-button.mat-tertiary.disabled:hover, .mat-button.mat-tertiary[disabled]:hover,
  .mat-button.mat-tertiary.disabled, .mat-button.mat-tertiary[disabled]{
    background: transparent;
    color: var(--disabled-high);
    pointer-events: none;
    cursor: auto;
  }
  .mat-button.mat-danger{
    background-color: var(--white);
    color: var(--error-dark);
  }
  .mat-button.mat-danger:hover{
    background-color: var(--error-light);
    color: var(--error-dark);
  }
  .mat-button.mat-warning{
    background-color: var(--white);
    color: var(--warning-dark);
  }
  .mat-button.mat-warning:hover{
    background-color: var(--warning-light);
    color: var(--warning-dark);
  }
  .mat-button.mat-success{
    background-color: var(--white);
    color: var(--success-dark);
  }
  .mat-button.mat-success:hover{
    background-color: var(--success-light);
    color: var(--success-dark);
  }
  .mat-button.mat-primary .mat-button-ripple .mat-ripple-element {
    background-color: var(--primary-color-60);
    opacity: 45%;
  }
  .mat-flat-button{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  }
  .mat-flat-button.mat-primary{
    background-color: var(--primary-color-100);
    color: var(--white);
  }
  .mat-flat-button.mat-primary:hover{
    background-color: var(--primary-color-20);
    color: var(--primary-color-100);
  }
  .mat-flat-button.mat-primary.disabled, .mat-flat-button.mat-primary[disabled]{
    box-shadow: none;
    background-color: var(--disabled-low);
    color: var(--disabled-high);
    pointer-events: none;
    cursor: auto;
  }
  .mat-flat-button.mat-danger, .mat-flat-button.mat-danger:hover{
    background-color: var(--error-dark);
    color: var(--white);
  }
  .mat-flat-button.mat-warning, .mat-flat-button.mat-warning:hover{
    background-color: var(--warning-dark);
    color: var(--white);
  }
  .mat-flat-button.mat-success, .mat-flat-button.mat-success:hover{
    background-color: var(--success-dark);
    color: var(--white);
  }
  .mat-flat-button .mat-button-ripple .mat-ripple-element {
    background-color: var(--white);
    opacity: 45%;
  }
  .mat-stroked-button.mat-primary{
    background-color: var(--white);
    color: var(--primary-color-100);
    border: 1px solid var(--primary-color-100);
  }
  .mat-stroked-button.mat-primary:hover{
    background-color: var(--primary-color-20);
    color: var(--primary-color-100);
    border: 1px solid var(--primary-color-100);
  }
  .mat-stroked-button.mat-primary.disabled, .mat-stroked-button.mat-primary[disabled]{
    background-color: var(--white);
    color: var(--disabled-high);
    border: 1px solid var(--disabled-high);
    pointer-events: none;
    cursor: auto;
  }
  .mat-stroked-button .mat-button-ripple .mat-ripple-element {
    background-color: var(--primary-color-60);
    opacity: 45%;
  }
  .mat-stroked-button.mat-danger, .mat-stroked-button.mat-danger:hover{
    background-color: var(--white);
    color: var(--error-dark);
    border: 1px solid var(--error-dark);
  }
  .mat-stroked-button.mat-danger:hover{
    background-color: var(--error-light);
  }
  .mat-stroked-button.mat-danger .mat-button-ripple .mat-ripple-element {
    background-color: var(--error-light);
    opacity: 45%;
  }
  .mat-stroked-button.mat-warning, .mat-stroked-button.mat-warning:hover{
    background-color: var(--white);
    color: var(--warning-dark);
    border: 1px solid var(--warning-dark);
  }
  .mat-stroked-button.mat-warning .mat-button-ripple .mat-ripple-element {
    background-color: var(--warning-light);
    opacity: 45%;
  }
  .mat-stroked-button.mat-success, .mat-stroked-button.mat-success:hover{
    background-color: var(--white);
    color: var(--success-dark);
    border: 1px solid var(--success-dark);
  }
  .mat-stroked-button.mat-success .mat-button-ripple .mat-ripple-element {
    background-color: var(--success-light);
    opacity: 45%;
  }
  .mat-icon-button.mat-button-disabled{
    color: var(--disabled-high) !important;
  }
  .mat-icon-button.mat-primary {
    color: var(--primary-color-100);
  }
  .mat-icon-button.mat-primary.float {
    color: var(--white);
    background-color: var(--primary-color-100);
  }
  .mat-icon-button.mat-primary.float:hover {
    color: var(--white);
    background-color: var(--primary-color-60);
  }
  .mat-button.mat-flat-button.mat-primary.float {
    color: var(--white);
    background-color: var(--primary-color-100);
    border-radius: 100px;
  }
  .mat-button.mat-flat-button.mat-primary.float .mat-icon{
    margin-right: 1rem;
  }
  .mat-button.mat-flat-button.mat-primary.float:hover {
    color: var(--white);
    background-color: var(--primary-color-60);
  }
  
  /* Card Styles */
  .mat-card {
    background-color: var(--white);
    border: 1px solid var(--grey-medium);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none !important;
    font-family: var(--mawani-font) !important;
  }
  .mat-card.greyCard{
    background-color: var(--grey-low);
    border: 1px solid var(--grey-medium);
  }
  .mat-card.float{
    border: none;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 14%), 0px 3px 4px rgb(0 0 0 / 12%), 0px 1px 4px rgb(0 0 0 / 20%);
  }
  .mat-card-header-text {
    margin: 0 !important;
  }
  
  /* Checkbox Styles */
  .mat-checkbox{
    font-family: var(--mawani-font) !important;
  }
  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
  .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: var(--primary-color-100);
  }
  .mat-checkbox-disabled .mat-checkbox-inner-container .mat-checkbox-background {
    background-color: var(--white);
    border: 1px solid var(--disabled-medium);
  }
  .mat-checkbox-checked.mat-checkbox-disabled .mat-checkbox-inner-container .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-checkbox-disabled .mat-checkbox-inner-container .mat-checkbox-background {
    background-color: var(--disabled-medium);
    border: none;
  }
  .mat-checkbox-label {
    white-space: normal;
  }
  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-label {
    color: var(--black-low);
    font-size: var(--body2-font-size);
  }
  .mat-checkbox-indeterminate.mat-primary.mat-checkbox-disabled .mat-checkbox-label {
    color: var(--disabled-high);
    font-size: var(--body2-font-size);
  }
  
  /* Radio Button Styles */
  .mat-radio-button{
    font-family: var(--mawani-font) !important;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--primary-color-100);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: var(--primary-color-100);
  }
  .mat-radio-button label{
    font-size: var(--body2-font-size);
    margin:0px;
  }
  .mat-radio-button.mat-radio-disable .mat-radio-inner-circle,
  .mat-radio-button.mat-radio-disable .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-radio-disable.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-radio-disable:active .mat-radio-persistent-ripple {
    background-color: var(--disabled-medium);
    pointer-events: none;
  }
  .mat-radio-button.mat-radio-disable.mat-radio-checked .mat-radio-outer-circle{
    border-color: var(--disabled-medium);
    pointer-events: none;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
  }
  @media (max-width: 475px){
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 25px;
    }
  }
  
  /* Toggle Switches Style */
  .mat-slide-toggle.mat-primary .mat-slide-toggle-bar{
    background-color: var(--grey-high);
  }
  .mat-slide-toggle.mat-primary .mat-slide-toggle-thumb{
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0px 2px rgba(0,0,0,0.12);
    background-color: var(--white);
  }
  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{
    background-color: var(--primary-color-40);
  }
  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb{
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0px 2px rgba(0,0,0,0.12);
    background-color: var(--primary-color-100);
  }
  .mat-slide-toggle.mat-primary.mat-disabled .mat-slide-toggle-bar,
  .mat-slide-toggle.mat-primary.mat-checked.mat-disabled .mat-slide-toggle-bar{
    background-color: var(--disabled-low);
  }
  .mat-slide-toggle.mat-primary.mat-disabled .mat-slide-toggle-thumb,
  .mat-slide-toggle.mat-primary.mat-checked.mat-disabled .mat-slide-toggle-thumb{
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0px 2px rgba(0,0,0,0.12);
    background-color: var(--disabled-medium);
  }
  
  /* Slider Styles */
  .mat-slider.mat-primary .mat-slider-track-background{
    background-color: var(--grey-high);
  }
  .mat-slider.mat-primary .mat-slider-track-fill, .mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label{
    background-color: var(--primary-color-100);
  }
  .mat-slider.mat-primary .mat-slider-thumb{
    transform: scale(0.6);
  }
  .mat-slider.mat-primary.mat-slider-horizontal .mat-slider-thumb-label{
    top: -40px;
  }
  
  /* Chip Styles */
  .mat-standard-chip{
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    border-radius: 100px;
    height: 32px;
  }
  .mat-standard-chip .mat-icon-button{
    height: 18px;
  }
  .mat-standard-chip .mat-icon{
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
  }
  .mat-chip.mat-standard-chip::after{
    opacity: 0;
  }
  .mat-chip.mat-primary{
    background-color: var(--primary-color-20);
    color: var(--primary-color-100);
  }
  .mat-chip.mat-primary:hover{
    background-color: var(--primary-color-40);
    color: var(--black-high);
  }
  .mat-chip.mat-stroked-primary{
    background-color: var(--white);
    color: var(--primary-color-100);
    border-color: var(--primary-color-100);
  }
  .mat-chip.mat-stroked-primary:hover{
    background-color: var(--primary-color-20);
    color: var(--black-high);
    border-color: var(--primary-color-100);
  }
  .mat-chip.mat-primary .mat-icon , .mat-chip.mat-stroked-primary .mat-icon{
    color: var(--primary-color-100);
  }
  .mat-chip.mat-danger{
    background-color: var(--error-light);
    color: var(--error-dark);
  }
  .mat-chip.mat-danger:hover{
    background-color: var(--error-medium);
    color: var(--black-high);
  }
  .mat-chip.mat-stroked-danger{
    background-color: var(--white);
    color: var(--error-dark);
    border-color: var(--error-dark);
  }
  .mat-chip.mat-stroked-danger:hover{
    background-color: var(--error-medium);
    color: var(--black-high);
    border-color: var(--error-dark);
  }
  .mat-chip.mat-danger .mat-icon , .mat-chip.mat-stroked-danger .mat-icon{
    color: var(--error-dark);
  }
  .mat-chip.mat-success{
    background-color: var(--success-light);
    color: var(--success-dark);
  }
  .mat-chip.mat-success:hover{
    background-color: var(--success-medium);
    color: var(--black-high);
  }
  .mat-chip.mat-stroked-success{
    background-color: var(--white);
    color: var(--success-dark);
    border-color: var(--success-dark);
  }
  .mat-chip.mat-stroked-success:hover{
    background-color: var(--success-medium);
    color: var(--black-high);
    border-color: var(--success-dark);
  }
  .mat-chip.mat-success .mat-icon , .mat-chip.mat-stroked-success .mat-icon{
    color: var(--success-dark);
  }
  .mat-chip.mat-warning{
    background-color: var(--warning-light);
    color: var(--warning-dark);
  }
  .mat-chip.mat-warning:hover{
    background-color: var(--warning-medium);
    color: var(--black-high);
  }
  .mat-chip.mat-stroked-warning{
    background-color: var(--white);
    color: var(--warning-dark);
    border-color: var(--warning-dark);
  }
  .mat-chip.mat-stroked-warning:hover{
    background-color: var(--warning-medium);
    color: var(--black-high);
    border-color: var(--warning-dark);
  }
  .mat-chip.mat-warning .mat-icon , .mat-chip.mat-stroked-warning .mat-icon{
    color: var(--warning-dark);
  }
  
  /* Accordion/Expansion Panel Style */
  .mat-accordion .mat-expansion-panel {
    box-shadow: unset;
    margin-bottom: 15px;
  }
  .mat-accordion .mat-expansion-panel-body{
    padding: 0;
  }
  .mat-accordion .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover{
    background: transparent;
  }
  .mat-expansion-panel .mat-expansion-panel-header{
    font-family: var(--mawani-font) !important;
    padding: 0;
  }
  
  /* table style starts here */
  .mat-table{
    font-family: var(--mawani-font) !important;
  }
  .table {
    margin: 0;
  }
  .table-bordered,.table-bordered td,.table-bordered th,
  .table-bordered thead td,.table-bordered thead th,
  .table thead th,.table tbody+tbody{
    border-color: var(--grey-medium) !important;
  }
  .table-bordered  td:not(:first-child),.table-bordered  th:not(:first-child){
    border-left-width: 0px !important;
  }
  .table-bordered  td:not(:last-child),.table-bordered  th:not(:last-child){
      border-right-width: 0px !important;
  }
  table td.mat-cell,
  table th.mat-header-cell,
  table td.mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
  }
  table td.mat-footer-cell{
    text-align: center;
  }
  table th.mat-header-cell {
    font-family: var(--mawani-font) !important;
    text-transform: capitalize;
    font-weight: var(--subtitle2-font-weight);
    color: var(--black-high);
    font-size: var(--subtitle2-font-size);
    line-height: var(--subtitle2-line-height);
    letter-spacing: var(--subtitle2-letter-spacing);
  }
  table .mat-sort-header-container button {
    font-family: var(--mawani-font) !important;
    letter-spacing: var(--subtitle2-letter-spacing);
    font-size: var(--subtitle2-font-size);
    text-align: left;
    text-transform: none;
  }
  table .mat-cell {
    font-size: var(--body2-font-size);
    font-weight: var( --body2-font-weight);
    line-height: var(--body2-line-height);
    letter-spacing: var(--body2-letter-spacing);
    color: var(--black-low);
  }
  table .mat-row:hover{
    background-color: var(--grey-low);
  }
  .tbl-header-row {
    background-color: var(--primary-color-100);
  }
  
  /* Table to card responsive design styles starts here */
  .table-responsive-card .mobile-label {
    display: none;
  }
  @media (max-width: 475px) {
    .table-responsive-card table .mat-cell {
      font-size: var(--subtitle2-font-size);
    }
    .table-responsive-card tr.editMode .mobile-label {
      width: 100%;
      display: block;
      font-weight: bold;
      float: none;
    }
    .table-responsive-card .mobile-label {
      width: 50%;
      display: block;
      font-weight: bold;
      float: left;
      margin-right: 10px;
    }
    .table-responsive-card tr.editMode .mobile-label-value-width {
      width: 100%;
    }
    .table-responsive-card .mobile-label-value-width {
      width: 50%;
    }
    .table-responsive-card tr.editMode .mat-form-field {
      width: 100%;
      float: none;
    }
    .table-responsive-card tr .mat-form-field {
      width: 50%;
      float: right;
    }
    .table-responsive-card table thead {
      display: none;
    }
    .table-responsive-card table tr {
      display: flex;
      flex-direction: column;
      padding: 15px;
      height: auto!important;
      margin-bottom: 5px;
      border: 1px solid #c2c2c2;
    }
    .table-responsive-card table tr.editMode td {
      padding: 5px !important;
      border: 0px;
      display: block;
    }
    .table-responsive-card table tr td {
      padding: 5px 0px !important;
      display: flex;
      border: 0px;
      align-items: center;
    }
    .table-responsive-card table tr.editMode td:last-child {
      padding: 0px !important;
      border: 0px;
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 768px){
    .table-responsive-card{
      overflow-x: auto;
    }
  }
  th.actionColumn {
    width: 160px;
  }
  @media (max-width: 475px) {
    th.actionColumn {
      width: 100%;
    }
  }
  
  /* Snackbar Style */
  ._snackbarStyle{
    max-width: 40vw!important;
    margin-top: 70px!important;
  }
  .mat-simple-snackbar{
    font-family: var(--mawani-font) !important;
    font-size: var(--body2-font-size);
    line-height: var(--body2-line-height);
    font-weight: var(--body2-font-weight);
    letter-spacing: var(--body2-letter-spacing); 
  }
  .mat-snack-bar-container,
  .snackbar-primary{
    background: var(--primary-color-100);
    color: var(--white);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2), 0px 1px 18px rgba(0,0,0,0.12), 0px 6px 10px rgba(0,0,0,0.14);
  }
  .mat-snack-bar-container.snackbar-warning button,
  .mat-snack-bar-container.snackbar-warning .mat-icon {
    color: var(--warning-dark) !important;   
  }
  .mat-snack-bar-container.snackbar-warning {
    background: var(--warning-light);
    color: var(--warning-dark);   
  }
  .mat-snack-bar-container.snackbar-success button,
  .mat-snack-bar-container.snackbar-success .mat-icon {
    color: var(--success-dark) !important;   
  }
  .mat-snack-bar-container.snackbar-success {
    background: var(--success-light);
    color: var(--success-dark);   
  }
  .mat-snack-bar-container.snackbar-error button,
  .mat-snack-bar-container.snackbar-error .mat-icon {
    color: var(--error-dark) !important;   
  }
  .mat-snack-bar-container.snackbar-error {
    background: var(--error-light);
    color: var(--error-dark);   
  }
  .mat-snack-bar-container.snackbar-gray button,
  .mat-snack-bar-container.snackbar-gray .mat-icon {
    color: var(--grey-high) !important;   
  }
  .mat-snack-bar-container.snackbar-gray {
    background: var(--grey-low);
    color: var(--grey-high);   
  }
  
  /* Alert Styles */
  .alert-warning, .alertWarning,.mat-chip.mat-text-warning{
    color:var(--warning-dark)!important;
    background-color: var(--warning-light)!important;
    border-color: var(--warning-medium)!important;
  }
  .alert-success, .alertSuccess, .mat-chip.mat-text-success{
    color:var(--success-dark)!important;
    background-color: var(--success-light)!important;
    border-color: var(--success-medium)!important;
  }
  .alert-danger, .alertDanger, .mat-chip.mat-text-danger{
    color:var(--error-dark)!important;
    background-color: var(--error-light)!important;
    border-color: var(--error-medium)!important;
  }
  
  /* Toggle button styles */
  .mat-button-toggle{
    font-family: var(--mawani-font) !important;
  }
  .mat-button-toggle-appearance-standard{
    color: var(--black-high);
  }
  .mat-button-toggle-group-appearance-standard{
    border: 1px solid var(--disabled-high);
  }
  .mat-button-toggle-appearance-standard[color="primary"]{
    background-color: var(--primary-color-100);
    color: var(--white);
    border: solid 1px var(--primary-color-100);
  }
  .mat-button-toggle-disabled.mat-button-toggle-appearance-standard, .mat-button-toggle-disabled.mat-button-toggle-appearance-standard[color="primary"]{
    background-color: var(--disabled-low);
    color: var(--disabled-high);
    pointer-events: none;
    cursor: auto;
    border: solid 1px var(--disabled-low);
  }
  .mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard{
    border: none !important;
  }
  
  /* Form Field Styles */
  .mat-form-field{
    font-family: var(--mawani-font) !important;
  }
  .mat-form-field-underline{
    color: var(--grey-high);
    background-color: var(--grey-high) !important; 
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--grey-high);
    background-color: var(--white);
  }
  .mat-form-field-label,.mat-input-element:not([readonly=true]),.mat-select-value-text{
    color: var(--black-low);
  }
  .mat-select-arrow-wrapper{
    display: table-cell !important;
    vertical-align: middle;
    height: unset !important;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--primary-color-100);
  }
  .mat-form-field-label{
    font-size: var(--caption-font-size);
    font-weight: var( --caption-font-weight);
    line-height: var(--caption-line-height);
    letter-spacing: var(--caption-letter-spacing);
  }
  .mat-form-field-empty.mat-form-field-label{
    font-size: var(--body2-font-size);
    font-weight: var( --body2-font-weight);
    line-height: var(--body2-line-height);
    letter-spacing: var(--body2-letter-spacing);
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    font-size: var(--caption-font-size);
    font-weight: var( --caption-font-weight);
    line-height: var(--caption-line-height);
    letter-spacing: var(--caption-letter-spacing);
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    font-size: var(--body2-font-size);
    padding-bottom: 1px;
  }
  
  .mat-input-element{
    line-height: 17px !important;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server[label]:not(:label-shown)+.mat-form-field-label-wrapper .mat-form-field-label {
    font-size: var(--body2-font-size);
    padding-bottom: 1px;
  }
  .mat-focused .mat-form-field-underline{
    color: var(--primary-color-100);
    background-color: var(--primary-color-100) !important;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
  .mat-form-field.mat-focused .mat-form-field-label{
    color: var(--primary-color-100);
  }
  .mat-focused .mat-input-element, .mat-focused .mat-select-value-text,
  .mat-focused .mat-select-arrow{
    color: var(--black-high);
  }
  .mat-form-field-invalid .mat-form-field-underline{
    color: var(--error-medium);
    background-color: var(--error-medium) !important;
  }
  .mat-error,
  .mat-form-field-invalid .mat-form-field-label,
  .mat-form-field-invalid .mat-form-field-outline-thick,
  .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: var(--error-medium);
  }
  .disabledField .mat-form-field-underline,
  .mat-form-field-disabled .mat-form-field-underline,
  .disabledField .mat-form-field-outline,
  .mat-form-field-disabled .mat-form-field-outline{
    color: var(--disabled-medium);
    background-color: var(--disabled-low);
  }
  .mat-input-element[readonly=true]{
    color: var(--disabled-high);
  }
  .mat-form-field-disabled ._required::before ,
  .disabledField ._required::before,
  .mat-form-field-disabled .mat-form-field-label{
    color: var(--disabled-high) !important;
  }
  .mat-form-field-disabled .mat-icon-button,
  .disabledField .mat-icon-button{
    color: var(--disabled-medium)!important;
  }
  .mat-form-field.mat-form-field-invalid .mat-input-element{
    color: var(--black-high) !important;
  }
  .mat-form-field-underline .mat-form-field-ripple{
    background-color: inherit !important;
  }
  .no-line .mat-input-element[readonly=true] {
    color: currentColor !important;
  }
  .no-line .mat-input-element:disabled, .no-line.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
    color: var(--black-high);
  }
  .no-line .mat-form-field-label mat-label{
    color: var(--primary-color-100) !important;
  }
  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-required-marker,
  .no-line .mat-form-field-label ._mandatory::after,
  .no-line .mat-form-field-label mat-label ._required::before{
    color: var(--error-medium) !important;
  }
  .no-line .mat-form-field-outline {
    display: none !important;
  }
  .no-line .mat-form-field-label, .no-line .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
    transform: translateY(-1em) !important;
    font-size: var(--caption-font-size) !important;
    z-index: 1000;
  }
  .no-line .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }
  .no-line input.mat-input-element{
    margin-top: 0.3em;
  }
  .no-line .mat-select-arrow-wrapper{
    display: none !important;
  }
  .no-line .mat-select-value {
    max-width: 100% !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0px 0px 0px 100px #fff inset;
  }
  .mat-option {
    color: var(--black-low);
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color:var(--black-low) !important;
    background: var(--grey-low);
  }
  
  
  /* Overlay Styles */
  .cdk-global-overlay-wrapper, .cdk-overlay-pane {
    display: flex;
    position: absolute;
    z-index: 1000;
  }
  .cdk-overlay-pane {
    transform: translateX(-11px) translateY(0px) !important;
    box-sizing: content-box;
    padding: 0px 0px 10px 0px;
  }
  .mat-autocomplete-panel{
    left: 10px;
  }
  
  /* Modal Styles */
  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
  }
  .modal-body-scroll {
    max-height: 100vh;
    overflow-y: auto;
  }
  
  /* Common Classes */
  ._fullWidth {
    width: 100%;
  }
  ._fullHeight {
    height: 100%;
  }
  .mobileVisibleOnly {
    display: none !important;
  }
  .desktopVisibleOnly {
    display: initial !important;
  }
  @media (max-width: 475px) {
    ._fullWidthMobile {
      width: 100% !important;
    }
    .mobileVisibleOnly {
      display: initial !important;
    }
    .desktopVisibleOnly {
      display: none !important;
    }
    .position-md-relative{
      position: unset;
    }
  }
  @media (min-width: 476px){
    ._fullWidthDesktop {
      width: 100% !important;
    }
    .position-md-relative{
      position: relative;
    }
    .position-md-fixed{
      position: fixed;
    }
  }
  label.mat-checkbox-layout {
    margin: 0;
  }
  .icon-font,
  .mat-icon {
    font-size: 22px;
    height: 22px!important;
    width: 22px!important;
  }
  .mat-icon.icon-large{
    height: 56px;
    width: 56px!important;
    font-size: 56px!important;
  }
  .mat-icon.icon-small{
    height: 18px !important;
    width: 18px!important;
    font-size: 18px!important;
  }
  .viewBtns button:not(:first-child) {
    margin-left: 24px;
  }
  @media (max-width: 475px) {
    .viewBtns button {
      margin-left: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  ._hide {
    display: none !important;
  }
  .cdk-overlay-container {
    z-index: 1051 !important;
  }
  .handCursor {
    cursor: pointer;
  }
  .mat-primary .mat-pseudo-checkbox-checked {
    background: var(--primary-color-100) !important;
  }
  
  /* Style related to phone number field */
  .countryCode.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px;
  }
  .countryCode .mat-select-value {
    text-align: center;
  }
  .phoneNumber.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px;
  }
  .phoneNumber .mat-form-field-prefix {
    margin: auto 5px auto 0;
    padding-top: 5px;
    width: 50px;
    text-align: center;
    top: 0em !important;
  }
  .phoneNumber .mat-form-field-infix {
    padding: calc(1em - 3px) 0 calc(1em + 3px) 0;
  }
  
  
  /* Stepper Styles */
  .mat-stepper-vertical,.mat-stepper-horizontal{
    font-family: var(--mawani-font) !important;
  }
  .mat-stepper-horizontal .mat-horizontal-stepper-header {
    height: 150px;
    width: 50% !important;
  }
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header
    .mat-step-label {
    padding: 5px 0 0 0;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 10px;
  }
  .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 32px !important;
    border-top-width: 3px !important;
  }
  .mat-step-header.cdk-keyboard-focused,
  .mat-step-header.cdk-program-focused,
  .mat-step-header:hover {
    background-color: transparent;
  }
  .last-edited-step-1
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(1)::after,
  .last-edited-step-1
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::before,
  .last-edited-step-2
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(1)::after,
  .last-edited-step-2
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::before,
  .last-edited-step-2
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::after,
  .last-edited-step-2
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::before,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(1)::after,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::before,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::after,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::before,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::after,
  .last-edited-step-3
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(7)::before,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(1)::after,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::before,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::after,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::before,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::after,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(7)::before,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(7)::after,
  .last-edited-step-4
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(9)::before,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(1)::after,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::before,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(3)::after,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::before,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(5)::after,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(7)::before,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(7)::after,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(9)::before,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(11)::after,
  .last-edited-step-5
    .mat-horizontal-stepper-header-container
    .mat-step-header:nth-child(13)::before {
    border-top-color: var(--primary-color-100) !important;
  }
  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::before,
  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::after {
    top: 32px !important;
    border-top-width: 3px !important;
    width: calc(50% - 12px) !important;
  }
  .mat-step-icon {
    background-color: var(--primary-color-60) !important;
    box-shadow: 0px 0px 0px 1px var(--primary-color-60) !important;
    border: 2px solid var(--primary-color-60) !important;
    height: 20px !important;
    width: 20px !important;
  }
  .mat-step-icon-selected {
    background-color: var(--primary-color-100) !important;
    box-shadow: 0px 0px 0px 1px var(--primary-color-100) !important;
    border: 2px solid var(--primary-color-100) !important;
  }
  .mat-step-icon-state-edit {
    background-color: var(--primary-color-100) !important;
    box-shadow: 0px 0px 0px 1px var(--primary-color-100) !important;
    border: 2px solid var(--primary-color-100) !important;
  }
  .mat-step-icon-state-edit .mat-step-icon-content,
  .mat-step-icon-state-number .mat-step-icon-content {
    display: none;
  }
  .mat-step-icon-state-done {
    background-color: var(--primary-color-100) !important;
    box-shadow: 0px 0px 0px 1px var(--primary-color-100) !important;
    border: 2px solid var(--primary-color-100) !important;
  }
  .mat-step-icon .mat-icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
  }
  .mat-step-header .mat-step-icon-state-done {
    background-color: var(--primary-color-100) !important;
  }
  .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--primary-color-100) !important;
  }
  .mat-step-header .mat-step-icon-selected {
    background-color: var(--primary-color-100) !important;
  }
  
  /* material Date time picker design overrides */
  .ngx-mat-timepicker form .table .tbody tr td {
    border: none;
    padding: 0px;
    vertical-align: unset;
  }
  .no-background .mat-dialog-container {
    background: none;
    box-shadow: none;
  }
  
  /* Responsive Custom Vertical Table Timeline View */
  .customVerticalTimeline{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    position: relative;
  }
  .customVerticalTimeline div{
    display: flex;
    align-items: center;
  }
  .customVerticalTimeline .mobile-label{
    width: 100%;
    display: none;
  }
  .customVerticalTimeline::before{
    content: "";
    width:4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 54px;
    background-color: #c2c2c2;
  }
  .customVerticalTimeline:nth-child(2)::before{
    top: 33px;
  }
  .customVerticalTimeline:last-child::before{
    height: 17px;
  }
  .customVerticalTimeline .mat-icon{
    margin-left: 30px;
    color: var(--primary-color-100);
  }
  @media (max-width: 475px){
    .customVerticalTimelineMobileNoHeader{
      display: none;
    }
    .customVerticalTimeline .mat-icon{
      margin-left: 0px;
    }
    .customVerticalTimeline{
      padding: 10px 0px;
    }
    .customVerticalTimeline label{
      padding-left: 30px;
    }
    .customVerticalTimeline div{
      display: block;
    }
    .customVerticalTimeline::before{
      left: 20px;
    }
    .customVerticalTimeline div:not(:last-child){
      margin-bottom: 15px;
    }
    .customVerticalTimeline .mobile-label{
      font-weight: bold;
      display: inline;
    }
    .customVerticalTimeline div:first-child{
      position: absolute;
      margin: 0;
      padding: 0;
      width: fit-content;
      top: 15px;
      left: 10px;
    }
  }
  
  /* Custom File Upload Button */
  .fileTypeBtn{
    position: relative;
    overflow: hidden;
  }
  .fileTypeBtn input{
    position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;   
      cursor: inherit;
      display: block;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
  }
  
  /* Tab Styles */
  .mat-tab-group, .mat-tab-link{
    font-family: var(--mawani-font) !important;
  }
  .mat-tab-label{
    color: var(--primary-color-100);
    text-transform: uppercase;
    font-size: var(--body2-font-size);
    font-weight: 600;
    letter-spacing: 0.1px;
    font-family: var(--mawani-font) !important;
  }
  .mat-tab-label-active{
    opacity: 1!important;
  }
  
  /* Notification Bar Styles */
  .header-banner{
    box-shadow: 0px 1px 2px rgba(48, 48, 48, 0.24);
    background-color: var(--white);
    z-index: 1;
  }
  
  /* Table No Data Found Style */
  .noDataFoundImg{
    background-color: var(--grey-medium);
    margin-bottom: 15px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: relative;
  }
  .noDataFoundImg img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-16px, -5px);
    z-index:1;
  }
  
  /* Tooltip Style */
  .mat-tooltip {
    font-size: var(--caption-font-size) !important;
    font-weight: var(--caption-font-weight) !important;
    font-family: var(--mawani-font) !important;
    background-color: var(--black-low) !important;
    word-break: break-word !important;
  }
  
  /*Table Sticky Header Styles */
  @media (max-width : 768px){
    table th.mat-table-sticky {
      top: 40px !important;
    }
  }
  @media (min-width : 769px){
    table th.mat-table-sticky {
      top: 64px !important;
    }
  }
  table th.mat-table-sticky {
    box-shadow: inset 0 -1px #dee2e6!important;
    border-bottom: 0px;
    top: -1px !important;
  }
  
  .mat-divider {
    border-top-color: var(--grey-medium);
  }
  .mat-list-item, .mat-list-option,.mat-list-base .mat-subheader, 
  .mat-list-base[dense] .mat-subheader, .mat-option,
  .mat-tree{
    font-family: var(--mawani-font) !important;
  }
  .mat-datepicker-content{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
  }
  .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    font-family: var(--mawani-font) !important;
    font-size: var(--body2-font-size);
    font-weight: var( --body2-font-weight);
    line-height: var(--body2-line-height);
    letter-spacing: var(--body2-letter-spacing);
    color: var(--black-high);
  }
  .mat-paginator .mat-select-value{
    color: inherit;
  }
  .mat-paginator-container{
    max-height: 56px;
  }
  .mat-paginator .bordered{
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--grey-medium);
    border-top: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
  .mat-paginator-container .mat-form-field .mat-select-value{
    display: flex;
    width: fit-content;
    max-width: fit-content;
  }
  .mat-paginator-container .mat-form-field .mat-form-field-underline {
    height: 0px;
    display: none;
  }
  .mat-paginator-container .mat-form-field .mat-select-arrow{
    color: var(--black-high);
    margin: 0 7px;
  }
  .mat-paginator-icon{
    width: 24px !important;
  }
  .mat-form-field.mat-paginator-page-size-select{
    font-size: 10px;
  }
  .mat-paginator-container .mat-form-field-label, .mat-input-element:not([readonly=true]), .mat-select-value-text {
    color: var(--black-high);
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 40px !important;
    font-size: var(--body2-font-size);
  }
  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    height: auto !important;
  }
  .mat-badge-content,
  .mat-expansion-panel-header,
  .mat-list-base .mat-subheader,
  .mat-list-item {
    font-family: var(--mawani-font) !important;
  }
  .mat-list-base .mat-subheader{
    font-size: var(--caption-font-size);
    font-weight: var(--caption-font-weight);
    line-height: var(--caption-line-height) !important;
    letter-spacing: var(--caption-letter-spacing);
    padding: 16px 0px !important;
  }
  .mat-list-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none !important;
    opacity: none !important;
    z-index: 1;
  }
  .mat-list-item.active {
    background-color: var(--primary-color-10);
    border-color: var(--primary-color-100);
  }
  .mat-list-item.active .mat-list-text .mat-line{
    font-weight: var(--subtitle2-font-weight) !important;
    color: var(--primary-color-100) !important;
  }
  .mat-list-item.active .mat-list-item-content .mat-icon{
    color: var(--primary-color-100) !important;
  }
  .mat-list-item .mat-list-item-content .mat-icon{
    color: var(--primary-color-50) !important;
  }
  .mat-list-item .mat-list-text .mat-line{
    font-weight: var(--body2-font-weight) !important;
    color: var(--primary-color-50) !important;
  }
  .mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0 3px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top: 0.554em solid transparent !important;
  }
  .mat-form-field{
    font-size: var(--body2-font-size);
  }
  .mat-button-toggle-appearance-standard {
    box-sizing: border-box;
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 18px !important;
    padding: 11px !important;
  }
  .stickyFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:var(--white);
    width: 100%;
    margin-bottom: 0 !important;
    padding: 10px !important;
    box-shadow: 0px -1px 4px rgb(0 0 0 / 14%);
  }
  .mat-select-panel {
    min-width: calc(100% + 20px) !important;
    position: relative;
    top: 0;
    margin-top: 30px;
    background-color: var(--white);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14) !important;
    border-radius: 4px;
  }
  .sidenavTitle {
    font-size: var(--subtitle1-font-size);
    font-weight: var(--subtitle1-font-weight) !important;
    line-height: var(--subtitle1-line-height) !important;
    letter-spacing: var(--subtitle1-letter-spacing);
    color: var(--primary-color-100);
  }
  .mat-drawer-container{
    background-color: var(--system-mawani);
    color: var(--black-high);
  }
  .customScrollBar::-webkit-scrollbar {
    width: 4px;
  }
  .customScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--grey-high);
    outline: 1px solid var(--grey-high);
    border-radius: 2px;
  }
  .lib-location-dropdown .dropdown-item{
    white-space: normal !important;
  }
  .text-black-high-deep{
    color: var(--black-high) !important;
  }
  .more-actions-menu .mat-menu-content .mat-menu-item, .footer-more-actions-menu .mat-menu-content .mat-menu-item {
    height: 36px;
    text-transform: uppercase;
    color: var(--black-low);
    padding: 0px 24px !important;  
    letter-spacing: 1.25px;
    font-family: var(--mawani-font);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
  }
  .mat-menu-content .mat-menu-item:not(:last-of-type){
    margin-bottom: 16px;
  }
  .mat-menu-item .mat-icon {
    margin-right: 12px;
  }
  .mat-menu-content:not(:empty) {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  .hr-mat-menu {
    height: 1px !important;
    background: var(--grey-medium);
    margin: 0 24px 16px 24px;
  }